.header {
  display: flex;
  justify-content: space-around;

  &__img {
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-position: right;
    overflow: hidden;
    background-size: 150% 100%;
    background-repeat: no-repeat;
    width: 50vw;
    height: 96.3rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-right: 20rem;
    padding-left: 6.6rem;
  }

  &__links {
    align-self: flex-end;

    &--login {
      text-decoration: none;
      font-size: 1.4rem;
      line-height: 8.5rem;
      color: $colorFontLight;
      margin-right: 3rem;
    }

    &--register {
      text-decoration: none;
      padding: 1rem;
      border: 0.75px solid $colorNotification;
      font-size: 1.3rem;
      line-height: 7.9rem;
      color: $colorFontLight;
    }
  }

  &__nav {
    display: flex;
    gap: 5.5rem;

    &--link {
      text-decoration: none;
      color: $colorFont;
      font-size: 1.8rem;
      line-height: 2.4rem;
      cursor: pointer;
      padding: 0.9rem 2rem;

      &:active {
        border: 0.75px solid $colorFont;

      }
    }


  }

  &__titles {
    margin-top: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    line-height: 5.5rem;
    margin-bottom: 2.5rem;
  }

  &__title {
    text-align: center;
    font-size: 3.8rem;
  }

  &__btns {
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.4rem;
    margin-bottom: 27.1rem;
  }

  &__btn {
    width: 31rem;
    height: 12rem;
    background-color: white;

    &--link {
      text-decoration: none;
      font-size: 3.6rem;
      line-height: 4.5rem;
      font-weight: 300;
      color: $colorFont;
      font-family: $font-base;
    }
  }
}